encription = "age"
[age]
    identity = "~/.age/chezmoi.key"
    recipients = ["age10u343u4n7sqnp9ezz8a5g8a5r4mtzssgw6g8aut8kk6tj3728cqqemx703","age1hk5aly887qewgg8la2yt6wsahermff4d9hk33q2ajvd3lqhhmc2qq2lcfa"]
[git]
    autoCommit = true
    autoPush = true
