tap "beeftornado/rmtree"
tap "d12frosted/emacs-plus"
tap "dart-lang/dart"
tap "github/gh"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
{{- if eq .target "home" }}
tap "koekeishiya/formulae"
{{- end }}
brew "chezmoi"
brew "findutils"
brew "fish"
brew "gawk"
brew "gh"
brew "git-flow-avh"
brew "pinentry"
brew "gnupg"
brew "go"
brew "graphviz"
brew "htop"
brew "imagemagick"
brew "imagemagick@6"
brew "pinentry-mac"
brew "poppler"
brew "ranger"
brew "tig"
brew "tmux"
brew "unrar"
brew "beeftornado/rmtree/brew-rmtree"
brew "d12frosted/emacs-plus/emacs-plus@28", link: false
{{- if eq .target "home" }}
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
{{- end }}
cask "1password"
cask "alacritty"
cask "discord"
cask "firefox-nightly"
cask "font-jetbrains-mono"
cask "google-chrome"
cask "spotify"
cask "sublime-merge"
{{- if eq .target "home" }}
cask "adobe-creative-cloud"
cask "pycharm-ce"
cask "tor-browser"
{{- end }}
