tap "beeftornado/rmtree"
tap "d12frosted/emacs-plus"
tap "github/gh"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "koekeishiya/formulae"
brew "chezmoi"
brew "fish"
brew "git-flow-avh"
brew "pinentry"
brew "pinentry-mac"
brew "gnupg"
brew "poppler"
brew "python"
brew "ranger"
brew "tmux"
brew "unrar"
brew "beeftornado/rmtree/brew-rmtree"
brew "d12frosted/emacs-plus/emacs-plus@28"
brew "github/gh/gh"
brew "koekeishiya/formulae/skhd"
brew "koekeishiya/formulae/yabai"
cask "1password"
cask "alacritty"
cask "font-jetbrains-mono"


{{- if eq .target "home" }}
tap "dart-lang/dart"

brew "dart-lang/dart/dart"

cask "firefox-nightly"
cask "discord"
cask "google-chrome"
{{- end }}
