[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	signingkey = 0A541ABEE37D15EF
	name = Mikhail Shlyakhov
	email = mike@{{ .chezmoi.username }}.space
[gpg]
	program = gpg
[commit]
	gpgsign = true
