[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	email = {{ .email }}
	{{- if eq .target "home" }}
	signingkey = 0A541ABEE37D15EF
	name = Mikhail Shlyakhov
	{{- end }}
{{- if eq .target "home" }}
[gpg]
	program = gpg
[commit]
	gpgsign = true
{{- end }}
